* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(233, 47%, 7%);
  color: hsl(0, 0%, 100%);
}

.container {
  background-color: hsl(244, 38%, 16%);

  max-width: 1440px;
  margin: 25vh auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-content {
  max-width: 800px;

  padding: 0 9rem;
}

h1 {
  font-size: 3rem;
  font-family: Inter, sans-serif;
  font-weight: 700;

  padding-bottom: 2rem;

  color: hsl(0, 0%, 100%);
}

span {
  color: hsl(277, 64%, 61%);
}

.card-content__paragraph {
  font-size: 1.2rem;
  font-family: Lexend, sans-serif;

  color: hsla(0, 0%, 100%, 0.75);

  margin-bottom: 3rem;
}

.card-content__stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
}

.stats-item__heading {
  font-size: 1.5rem;
  font-family: Inter, sans-serif;
  font-weight: 700;

  margin-bottom: 0.3rem;
}

.stats-item__content {
  font-family: Lexend, sans-serif;
  font-size: 0.8rem;

  text-transform: uppercase;

  color: hsla(0, 0%, 100%, 0.6);
}

.overlay {
  background-color: hsl(277, 64%, 61%);
}

img {
  display: block;
  max-width: 100%;
  opacity: 0.35;
}
